<!DOCTYPE html>

<html>
<head>
	<title>Visitor Survey</title>
</head>

<body>
        <h2>Admin Login</h2>
	{% set messages = get_flashed_messages() %}
	{% for message in messages %}
	<h4> {{message}} </h4>
	{% endfor %}
	
	<form method="post" action="/authenticate">
	  Username: <input type="text" name="username" required><br><br>
	  Password: <input type="password" name="password" required><br>
	  <input type="submit" value="submit">
	</form> <br> <br>
	
	<h2>Survey</h2>
	<form method="post" action="/data">
	Is this your first time visiting Arlington Garden?<br>
	<input type="radio" name="first_time" value="yes">Yes
	<input type="radio" name="first_time" value="no" >No<br>

	Why did you decide to come to Arlington Garden today? (Check all that apply)<br>
	<input type="checkbox" name="attend_reason" value=1>
		I am interested in learning about plants<br>
	<input type="checkbox" name="attend_reason" value=2>
		I saw an advertisement<br>
	<input type="checkbox" name="attend_reason" value=3>
		For rest and relaxation<br>
	<input type="checkbox" name="attend_reason" value=4>
		To get my children away from screens<br>
	<input type="checkbox" name="attend_reason" value=5>
		For entertainment<br>
	<input type="checkbox" name="attend_reason" value=6>
		For a picnic<br>
	<input type="checkbox" name="attend_reason" value=7>
		To connect with nature<br>
	<input type="checkbox" name="attend_reason" value=8>
		For bird watching<br>
	<input type="checkbox" name="attend_reason" value=9>
		I am visiting from out of town<br>
	<input type="checkbox" name="attend_reason" value=10>
		I am looking for a free community resource<br>
	<input type="checkbox" name="attend_reason" value=11>
		I wanted a family activity<br>
	<input type="checkbox" name="attend_reason" value=12>
		For photography<br>
	<input type="checkbox" name="attend_reason" value=13>
		To bring a child<br>
	<input type="checkbox" name="attend_reason" value=14>
		A friend brough me<br>
	<input type="checkbox" name="attend_reason" value=15>
		Other: <input type="text" name="attend_reason_other"><br>

	Please describe any specific sections or experiences of the Arlington Garden that stood out to you.<br>
	<textarea name="stood_out"></textarea><br>

	Please describe anything that was frustrating or disappointing about your visit.<br>
	<textarea name="disappointing"></textarea><br>

	How would you rate your experience in Arlington Garden today? (1 is poor, 10 is excellent)<br>
	<select name="rating">
		<option value="select">Select</option>
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=4>4</option>
		<option value=5>5</option>
		<option value=6>6</option>
		<option value=7>7</option>
		<option value=8>8</option>
		<option value=9>9</option>
		<option value=10>10</option>
	</select><br>

	To what degree did today's visit increase your appreciation for water-conserving gardening?<br>
	<input type="radio" name="water_conserving" value="none">Not at all
	<input type="radio" name="water_conserving" value="some">Somewhat
	<input type="radio" name="water_conserving" value="high">To a high degree<br>

	Did you know about Arlington Garden before visiting today?<br>
	<input type="radio" name="knew_about" value="yes">Yes
	<input type="radio" name="knew_about" value="no">No<br>

	If YES, how did you hear about Arlington Garden? (Check all that apply)<br>
	<input type="checkbox" name=how_heard_about value="website">
		Arlington Garden website<br>
	<input type="checkbox" name=how_heard_about value="online">
		Online search<br>
	<input type="checkbox" name=how_heard_about value="newspaper">
		Newspaper<br>
	<input type="checkbox" name=how_heard_about value="magazine">
		Magazine<br>
	<input type="checkbox" name=how_heard_about value="drove_by">
		Just drove by<br>
	<input type="checkbox" name=how_heard_about value="word_of_mouth">
		Word of mouth<br>
	<input type="checkbox" name=how_heard_about value="social_media">
		Social media<br>
	<input type="checkbox" name=how_heard_about value="always">
		I live in the area and have always known about it<br>
	<input type="checkbox" name=how_heard_about value="other">
		Other: <input type="text" name=how_heard_about_other><br>

	Did you post to social media during your visit (or will you)?<br>
	<input type="radio" name="post_social" value="yes">Yes
	<input type="radio" name="post_social" value="no">No<br>

	If YES, what platform of social media did/will you use?<br>
	<textarea name=social_platform></textarea><br>

	Please think about future experiences in the garden. What other classes or topics are of interest to you?<br>
	<textarea name=topic_interests></textarea><br>

	Please select the ways in which you would like to be more involved with Arlington Garden. (Check all that apply)<br>
	<input type="checkbox" name="get_involved" value="newsletter">
		Signing up for the Arlington Garden newsletter<br>
	<input type="checkbox" name=get_involved value="donation">
		Making a donation<br>
	<input type="checkbox" name="get_involved" value="photography_permit">
		Supporting the garden by purchasing a photography permit<br>
	<input type="checkbox" name="get_involved" value="volunteer">
		Becoming a garden volunteer<br>
	<input type="checkbox" name="get_involved" value="marmalade">
		Supporting the garden by purchasing Arlington Garden marmalade<br>
	<input type="checkbox" name="get_involved" value="facebook">
		Following us on Facebook<br>
	<input type="checkbox" name="get_involved" value="other">
		Other: <input type="text" name="get_involved" _other><br>

	What is your gender?<br>
	<input type="radio" name="gender" value="male">Male
	<input type="radio" name="gender" value="female">Female
	<input type="radio" name="gender" value="refuse">Prefer not to answer<br>

	What are the ages of the adults with you?<br>
	<input type="text" name="adult_ages"><br>

	What are the ages of the children with you?<br>
	<input type="text" name="child_ages"><br>

	What is your zip code? (If outside the U.S., please indicate the country)<br>
	<input type="text" name="zip"><br>

	Which of the following best describes your household's annual income?<br>
		<select name="income">
		<option value="select">Select</option>
		<option value=10>Less than $20,000</option>
		<option value=30>$20,000-$39,999</option>
		<option value=50>$40,000-$59,999</option>
		<option value=70>$60,000-$74,999</option>
		<option value=90>$75,000-$99,999</option>
		<option value=110>$100,000 or more</option>
		<option value="refuse">Prefer not to respond</option>
	</select><br>

	Which of the following best describes your ethnicity? (Check all that apply)<br>
	<input type="checkbox" name="ethnicity" value="caucasian">
		Caucasian<br>
	<input type="checkbox" name="ethnicity" value="african_american">
		African-American<br>
	<input type="checkbox" name="ethnicity" value="asian">
		Asian/Pacific Islander<br>
	<input type="checkbox" name="ethnicity" value="hispanic">
		Hispanic/Latino/Chicano<br>
	<input type="checkbox" name="ethnicity" value="native_american">
		Native American/Alaskan Native<br>
	<input type="checkbox" name="ethnicity" value="other">
		Other: <input type="text" name="ethnicity_other"><br>
	<input type="submit" value="submit">
	</form>
</body>

</html>
