<!DOCTYPE html>

<html>
<head>
	<title>Visitor Survey</title>

	<link rel="stylesheet" type="text/css" href="static/survey.css">
</head>



<body>
        <h2>Admin Login</h2>
	{% set messages = get_flashed_messages() %}
	{% for message in messages %}
	<h4> {{message}} </h4>
	{% endfor %}
	
	<div class="form-style-5">
		<form method="post" action="/authenticate">
		  Username: <input type="text" name="username" required class='textfield'><br><br>
		  Password: <input type="password" name="password" required class='textfield'><br>
		  <input type="submit" value="login">
		</form> <br> <br>
	</div>
	
	<h2>Survey</h2>
	<form method="post" action="/data">
	<div class='qa-group'>
		<div class='question'>
		Is this your first time visiting Arlington Garden?<br>
		</div>
	<input type="radio" name="first_time" value="yes">Yes
	<input type="radio" name="first_time" value="no" >No<br>
	</div>

	<div class='qa-group'>
	<div class='question'>
		Why did you decide to come to Arlington Garden today? (Check all that apply)
	</div>
	<input type="checkbox" name="attend_reason" value='learning about plants'>
		I am interested in learning about plants<br>
	<input type="checkbox" name="attend_reason" value='saw an ad'>
		I saw an advertisement<br>
	<input type="checkbox" name="attend_reason" value='rest/relax'>
		For rest and relaxation<br>
	<input type="checkbox" name="attend_reason" value='children away from screens'>
		To get my children away from screens<br>
	<input type="checkbox" name="attend_reason" value='entertainment'>
		For entertainment<br>
	<input type="checkbox" name="attend_reason" value='picnic'>
		For a picnic<br>
	<input type="checkbox" name="attend_reason" value='connect with nature'>
		To connect with nature<br>
	<input type="checkbox" name="attend_reason" value='bird watching'>
		For bird watching<br>
	<input type="checkbox" name="attend_reason" value='from out of town'>
		I am visiting from out of town<br>
	<input type="checkbox" name="attend_reason" value='free community resource'>
		I am looking for a free community resource<br>
	<input type="checkbox" name="attend_reason" value='famliy activity'>
		I wanted a family activity<br>
	<input type="checkbox" name="attend_reason" value='photography'>
		For photography<br>
	<input type="checkbox" name="attend_reason" value='bring a child'>
		To bring a child<br>
	<input type="checkbox" name="attend_reason" value='friend brought me'>
		A friend brought me<br>
	<input type="checkbox" name="attend_reason" value='other'>
		Other: <input type="text" name="attend_reason_other" class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Please describe any specific sections or experiences of the Arlington Garden that stood out to you.<br>
		</div>
	<textarea name="stood_out" class='textarea'></textarea><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Please describe anything that was frustrating or disappointing about your visit.<br>
		</div>
	<textarea name="disappointing" class='textarea'></textarea><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		How would you rate your experience in Arlington Garden today? (1 is poor, 10 is excellent)<br>
		</div>
	<select name="rating">
		<option value="select">Select</option>
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=4>4</option>
		<option value=5>5</option>
		<option value=6>6</option>
		<option value=7>7</option>
		<option value=8>8</option>
		<option value=9>9</option>
		<option value=10>10</option>
	</select><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		To what degree did today's visit increase your appreciation for water-conserving gardening?<br>
		</div>
	<input type="radio" name="water_conserving" value="none">Not at all
	<input type="radio" name="water_conserving" value="some">Somewhat
	<input type="radio" name="water_conserving" value="high">To a high degree<br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Did you know about Arlington Garden before visiting today?<br>
		</div>
	<input type="radio" name="knew_about" value="yes">Yes
	<input type="radio" name="knew_about" value="no">No<br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		If YES, how did you hear about Arlington Garden? (Check all that apply)<br>
		</div>
	<input type="checkbox" name=how_heard_about value="website">
		Arlington Garden website<br>
	<input type="checkbox" name=how_heard_about value="online">
		Online search<br>
	<input type="checkbox" name=how_heard_about value="newspaper">
		Newspaper<br>
	<input type="checkbox" name=how_heard_about value="magazine">
		Magazine<br>
	<input type="checkbox" name=how_heard_about value="drove_by">
		Just drove by<br>
	<input type="checkbox" name=how_heard_about value="word_of_mouth">
		Word of mouth<br>
	<input type="checkbox" name=how_heard_about value="social_media">
		Social media<br>
	<input type="checkbox" name=how_heard_about value="always_knew_about">
		I live in the area and have always known about it<br>
	<input type="checkbox" name=how_heard_about value="other">
		Other: <input type="text" name=how_heard_about_other class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Did you post to social media during your visit (or will you)?<br>
		</div>
	<input type="radio" name="post_social" value="yes">Yes
	<input type="radio" name="post_social" value="no">No<br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		If YES, what platform of social media did/will you use?<br>
		</div>
	<textarea name=social_platform class='textarea'></textarea><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Please think about future experiences in the garden. What other classes or topics are of interest to you?<br>
		</div>
	<textarea name=topic_interests class='textarea'></textarea><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Please select the ways in which you would like to be more involved with Arlington Garden. (Check all that apply)<br>
		</div>
	<input type="checkbox" name="get_involved" value="newsletter">
		Signing up for the Arlington Garden newsletter<br>
	<input type="checkbox" name=get_involved value="donation">
		Making a donation<br>
	<input type="checkbox" name="get_involved" value="photography_permit">
		Supporting the garden by purchasing a photography permit<br>
	<input type="checkbox" name="get_involved" value="volunteer">
		Becoming a garden volunteer<br>
	<input type="checkbox" name="get_involved" value="marmalade">
		Supporting the garden by purchasing Arlington Garden marmalade<br>
	<input type="checkbox" name="get_involved" value="facebook">
		Following us on Facebook<br>
	<input type="checkbox" name="get_involved" value="other">
		Other: <input type="text" name="get_involved" class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		What is your gender?<br>
		</div>
	<input type="radio" name="gender" value="male">Male
	<input type="radio" name="gender" value="female">Female
	<input type="radio" name="gender" value="no answer">Prefer not to answer<br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		What are the ages of the adults with you?<br>
		</div>
	<input type="text" name="adult_ages" class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		What are the ages of the children with you?<br>
		</div>
	<input type="text" name="child_ages" class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		What is your zip code? (If outside the U.S., please indicate the country)<br>
		</div>
	<input type="text" name="zip" class='textfield'><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Which of the following best describes your household's annual income?<br>
		</div>
		<select name="income">
		<option value="select">Select</option>
		<option value='below 20'>Less than $20,000</option>
		<option value='20-40'>$20,000-$39,999</option>
		<option value='40-60'>$40,000-$59,999</option>
		<option value='60-75'>$60,000-$74,999</option>
		<option value='75-100'>$75,000-$99,999</option>
		<option value='above 100'>$100,000 or more</option>
		<option value='no answer'>Prefer not to respond</option>
	</select><br>
	</div>

	<div class='qa-group'>
		<div class='question'>
		Which of the following best describes your ethnicity? (Check all that apply)<br>
		</div>
	<input type="checkbox" name="ethnicity" value="caucasian">
		Caucasian<br>
	<input type="checkbox" name="ethnicity" value="african-american">
		African-American<br>
	<input type="checkbox" name="ethnicity" value="asian/pacific islander">
		Asian/Pacific Islander<br>
	<input type="checkbox" name="ethnicity" value="hispanic/latino/chicano">
		Hispanic/Latino/Chicano<br>
	<input type="checkbox" name="ethnicity" value="native-american/alaskan native">
		Native American/Alaskan Native<br>
	<input type="checkbox" name="ethnicity" value="other">
		Other: <input type="text" name="ethnicity_other" class='textfield'><br>
	</div>

	<div class='button-holder'>
	<input type="submit" value="Submit" class='button'>
	</div>
	</form>
</body>

</html>
